body{
    background-image:url(wallpaperflare.com_wallpaper.jpg);
    image-rendering: auto;
    background-size: cover;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font: size 200px;;
    
    
}
.mermasin{
    color:rgb(255, 255, 255);
    text-align:center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: aliceblue;
    text-align: center;
    font-size: larger;
}
.sort{
    color: rgb(255, 255, 255);
    text-align: left;
    display:flex ;
    flex-grow: 1;
}
.sort1,.sort2,.sort3{
 
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size:contain;
    display:table;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-style: normal;   
    padding:10%;
    margin: 120;
    text-align:center;
    text-size-adjust:inherit;
    text-overflow: clip;
    box-shadow: 0px 0px 10px;
    box-shadow: color(srgb rgb(121, 85, 138) rgb(139, 50, 132) blue);
    
}
.sort1{
    
    background-image:url(result1.png);
    text-shadow: 10px,10px,10px;   
    width: 100%;
    height: auto;
    position: relative;

}
.sort2{
    
    background-image: url(result1.png);
    width: 100%; 
    height: auto;
    
    
}
.sort3{
    background-image: url(result2.png);
    
}
.kap{
    text-align:left;
    color: rgb(255, 255, 255);
   position: relative;
   height: auto;
   width: auto;

}
.b1,.b2,.b3{
    
    background-color:unset;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255);
    font-size: large;
    text-align: center;
    
    
}
p{
    position: right;
    margin-top: auto;  /* Վերև */
    margin-left: auto; 
    background-position-x: left 50px;
    text-align: center;
    font-size: large;
}
button{
    position: absolute; /* Ձախ եզրին */
    left: auto;
    justify-self: start; /* Տեղադրում է ձախ */
    width: 200px;
    height: 100px;
    float: left;
    text-align: center;
    
}
